.home__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	padding: 1vh 5vh;
}

.home__title h1 {
	text-align: center;
	font-size: 4rem;
	background-image: linear-gradient(to right, #f06, #f80);
	-webkit-background-clip: text;
	color: transparent;
	padding-top: 1rem;
	margin-bottom: 1rem;
}

.home__subtitle h3 {
	justify-content: center;
	text-align: center;
	font-size: 1rem;
	margin-bottom: 2rem;
}

/* Link berada di bawah H3 dan berada di bagian tengah secara row */
.home__container ul {
	display: flex;
	justify-content: center;
	list-style-type: none;
	flex-wrap: wrap;
	padding: 0;
}

/* Link memiliki kotak yang saling berjarak satu sama lain */
.home__container li {
	margin: 0 1rem 1rem 1rem;
	padding: 0.5rem 1rem;
	border: 1px solid #000;
	border-radius: 25px;
	text-align: center;
	background-color: #fff;
	width: 150px;
}

.home__container li a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

.home__container li:hover {
	background-color: #f06;
	border-color: #f06;
}

.home__container li:hover a {
	color: #fff;
}

/* max-width: 400px */
@media only screen and (max-width: 400px) {
	.home__title h1 {
		font-size: 2.5rem;
	}
	.home__subtitle h3 {
		font-size: 1rem;
	}
	.home__container li {
		width: 100%;
	}
}

/* max-width: 600px */
@media only screen and (min-width: 401px) and (max-width: 600px) {
	.home__title h1 {
		font-size: 3rem;
	}
	.home__subtitle h3 {
		font-size: 1.3rem;
	}
	.home__containerli {
		width: calc(50% - 2rem);
	}
}

/* max-width: 1024px */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
	.home__title h1 {
		font-size: 3.5rem;
	}
	.home__subtitle h3 {
		font-size: 1.5rem;
	}
	.home__container li {
		width: calc(33.3333% - 2rem);
	}
}

/* max-width: 1920px */
@media only screen and (min-width: 1025px) and (max-width: 1920px) {
	.home__title h1 {
		font-size: 4rem;
	}
	.home__subtitle h3 {
		font-size: 1.8rem;
	}
	.home__container li {
		width: calc(25% - 2rem);
	}
}
/* @media screen and (max-width: 500px) {
	.home__title h1 {
		font-size: 50px;
	}
	.home__subtitle h3 {
		font-size: 20px;
	}
} */
